.login {
  color: white;

  .deze {
    //margin: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 550px;
   // align-items: center;
    display: flex;
    justify-content: center;
    h1 {
      font-family: "Lucida Calligraphy";

    }

    .formcontainer {
      margin-right: 150px;
      margin-left: 150px;
    }


    form {
      //margin-right: 150px;
      //margin-left: 150px;
      flex: 1;

    }
    input {
      width: 200px;
    }


    .button {
      background-color:  #514A92;
      margin: 5px;
      padding: 8px;
      color: white;
      border: solid #514A92 1px;

    }
  }
}
