<app-navigation></app-navigation>
<div class="details">
  <div class="right">
    <img src="{{book.image}}">
  </div>
  <div class="left">
    <div class="first">
      <div class="title">
        <h1>{{book.title}}</h1>
        <p>{{book.price}} €</p>
        <p>{{book.author}}</p>
        <button (click)="onAddToCart(book)" class="btn">Add to cart</button>
      </div>
    </div>
    <div class="second">
      <div class="fullsecond">
        <div class="desc">
          <p>{{book.description}}</p>
        </div>
        <p>Pages: {{book.pages}}</p>
        <p>Language: {{book.language}}</p>
      </div>


    </div>
  </div>


  <!--
  <div class="first">
    <div class="right">
        <img src="{{book.image}}">
    </div>
    <div class="left">
      <div class="title">
        <h1>{{book.title}}</h1>
        <p>{{book.price}} €</p>
        <button (click)="onAddToCart(book)" class="btn">Add to cart</button>


      </div>

    </div>
  </div>
  <div class="second">
    <div class="left">

    </div>



    <div class="left">
      <button (click)="onAddToCart(book)" class="btn">Add to cart</button>
    </div>
  </div>-->
  <!--<div class="left">
    <h1>{{book.title}}</h1>
    <p>{{book.price}} €</p>
    <p>{{book.description}}</p>
    <p>Language: {{book.language}}</p>
    <p>Pages: {{book.pages}}</p>
  </div>
  <div class="right">
    <img src="{{book.image}}">
    <button (click)="onAddToCart(book)" class="btn">Add to cart</button>
  </div>-->
</div>
<!--<app-shoppingcart [book]=book *ngIf="cartVisible"></app-shoppingcart>-->

