.shoppingcart {
  background-color: snow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 500px;
  padding: 10px;
  font-family: Arial, fantasy;
  border-radius: 5px;
  border: solid 1px #122321;

  .book {
    display: flex;
  }

  .price {
    display: flex;

    button {
      align-self: center;
      //margin: 20px;
      padding: 10px;
      margin-left: 50px;
      margin-top: 20px;
      width: 150px;
      //background-color:	#d2deeb;
      background-color: #203432;
      color: snow;
      border: #122321;
    }

    p {
      margin-left: 50px;
    }

    button:hover {
      cursor: pointer;
      background-color: #a5d2ca;
      color: #122321;
    }

  }

  img {
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    padding: 15px;
    font-size: 24px;
    font-weight: lighter;
  }

  li {
    list-style: none;
  }

  p {
    padding: 15px;
  }
}
