<app-navigation></app-navigation>
<div *ngIf="!ordered" class="orderscherm">
  <div class="hoofdtekst">
    <h1>Your order:</h1>
    <div class="books">
      <li>
        <ul *ngFor="let book of cart">
          <div class="book">
            <img [src]="book.image" />
            <p>{{book.title}} <br> {{book.price}} €</p>
          </div>
        </ul>
      </li>
      <p>Name: {{naam}}</p>
      <p>Address: {{postcode}} {{huisnummer}} {{woonplaats}}</p>
      <div class="price">
        <p>Total: {{total}} €</p>
        <button (click)="onOrder()">Order</button>
      </div>
    </div>
  </div>
</div>
<app-alert *ngIf="message" [message]="message" (close)="onClosePopUp()"></app-alert>
