<app-navigation></app-navigation>
<div class="home">
  <div class="tekst">
    <h1>Welcome to Fantasic Books</h1>
    <p>What kind of book do you want to buy?</p>
  </div>
  <div class="knoppen">
    <ul class="list">
      <li class="knop1" [routerLink]="['/homeView', 'harrypotter']"><p>Harry Potter</p></li>
      <li class="knop2" [routerLink]="['/homeView', 'witcher']"><p>The Witcher</p></li>
      <li class="knop3" [routerLink]="['/homeView', 'lordoftherings']"><p>Lord of the Rings</p></li>
      <li class="knop4" [routerLink]="['/homeView', 'folkofair']"><p>Folk of Air</p></li>
      <li class="knop5" [routerLink]="['/homeView', 'scholomance']"><p>The Scholomance</p></li>
      <li class="knop6" [routerLink]="['/homeView', 'others']"><p>Others</p></li>

    </ul>

  </div>
</div>
